.etsy-press-listing-table {
    border: 0px !important;
}

td.etsy-press-listing {
    border: 0px !important;
    padding: 0 !important;
}

.etsy-press-image-cropped {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 100%;
    height: 135px;
}

.etsy-press-listing-card {
    background-color: white;
    border: 1px solid #EAEAEA;
    display: block;
    width:172px;
    text-align: center;
    margin: auto;
    padding: 6px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin-bottom: 10px;
    margin-right: 7px;
    margin: 0 auto;
}

.etsy-press-listing {
    border-top: 0;
    padding: 0 !important;
}


.etsy-press-listing-thumb {
    display: block;
}

.etsy-press-listing-thumb img {
    margin: 0; 
    padding: 0;
}

.etsy-press-listing-detail {
    margin: 0; 
    padding: 0; 
    text-align: left;
}

.etsy-press-listing-title {
    height: 15px; 
    line-height: 15px !important; 
    margin: 0; 
    padding: 0;
    margin-top: 5px; 
    overflow: hidden;
}

.etsy-press-listing-title a {
    color: #666; 
    text-decoration: none;
}

.etsy-press-listing-title a:hover{
    text-decoration: underline;
}

.etsy-press-listing-maker {
    line-height: 14px !important; 
    margin: 0; 
    padding: 0;
}

.etsy-press-listing-maker a {
    color: #B2B2B2; 
    text-decoration: none; 
    padding: 0; 
    margin: 0;
}

.etsy-press-listing-maker a:hover{
    text-decoration: underline;
}

.etsy-press-listing-price {
    color: #78C042; 
    float: right; 
    line-height: 14px !important;
    margin-top: -14px;
}

.etsy-press-currency-code {
    font-size: 10px;
}
